<div class="fabricante-container">
  <mat-card class="fabricante-card">
    <mat-card-header>
      <mat-card-title class="fabricante-title">{{ translations.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="fabricanteForm" (ngSubmit)="onCreateFabricante()" class="fabricante-form">
        <!-- Nombre -->
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>{{ translations.field_name }}</mat-label>
          <input matInput formControlName="name" [placeholder]="translations.field_name_placeholder">
          <mat-icon matPrefix>business</mat-icon>
          <button *ngIf="fabricanteForm.get('name')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('name')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error class="error-message" *ngFor="let message of getErrorMessages(fabricanteForm.get('name'), getValidationErrors(fabricanteForm.get('name'), 'name'))">
            {{ message }}
          </mat-error>
        </mat-form-field>

        <!-- Representante Legal -->
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>{{ translations.field_legal_representative }}</mat-label>
          <input matInput formControlName="legalRepresentative" [placeholder]="translations.field_legal_representative_placeholder">
          <mat-icon matPrefix>person</mat-icon>
          <button *ngIf="fabricanteForm.get('legalRepresentative')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('legalRepresentative')">
            <mat-icon>clear</mat-icon>
          </button>
          <mat-error class="error-message" *ngFor="let message of getErrorMessages(fabricanteForm.get('legalRepresentative'), getValidationErrors(fabricanteForm.get('legalRepresentative'), 'legalRepresentative'))">
            {{ message }}
          </mat-error>
        </mat-form-field>

        <!-- Teléfono -->
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>{{ translations.field_phone }}</mat-label>
          <input matInput formControlName="phone" [placeholder]="translations.field_phone_placeholder" appPhoneFormat>
          <mat-icon matPrefix>phone</mat-icon>
          <button *ngIf="fabricanteForm.get('phone')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('phone')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error class="error-message" *ngFor="let message of getErrorMessages(fabricanteForm.get('phone'), getValidationErrors(fabricanteForm.get('phone'), 'phone'))">
            {{ message }}
          </mat-error>
        </mat-form-field>

          <button mat-flat-button color="primary" type="submit" [disabled]="fabricanteForm.invalid" class="submit-button">
            {{ translations.button_submit }}
          </button>

          <button mat-stroked-button type="button" (click)="onCancelCreate()" class="cancel-button">
            {{ translations.button_cancel }}
          </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
