# Celery
celerybeat-schedule
celerybeat.pid

# Python
__pycache__/
*.py[cod]
.mypy_cache/
.coverage
*.log

# Pytest
.pytest_cache/

# Env files
.env
*.env
.env.development

# Virtualenvs
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite (test)
*.sqlite3

# IDEs
.idea/
.vscode/
.DS_Store

# VSCode (if not ignoring the whole .vscode/)
# .vscode/settings.json  # optional