<div class="login-container">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" class="logo-image">
    </div>
  
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Usuario -->
      <mat-form-field appearance="outline">
        <mat-label>Correo electronico</mat-label>
        <input matInput formControlName="email" required>
        <mat-error class="error-message" *ngFor="let message of getErrorMessages(loginForm.get('email'), validaciones['email'])">
            {{ message }}
        </mat-error>
      </mat-form-field>
  
      <!-- Contraseña -->
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required placeholder="Ingresa tu contraseña" (keydown.enter)="onLogin()">
        <button mat-icon-button matSuffix type="button"
         (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="error-message" *ngFor="let message of getErrorMessages(loginForm.get('password'), validaciones['password'])">
            {{ message }}
        </mat-error>
      </mat-form-field>
  
      <!-- Botón Submit -->
      <button mat-raised-button 
              color="primary" 
              type="submit"
              [disabled]="!loginForm.valid">
              Ingresar
      </button>
  
      <!-- Mensaje de Error -->      
  
      <a mat-button routerLink="/forgot-password" class="forgot-password">
        ¿Olvidó su contraseña?
      </a>
    </form>
  </div>