// private.component.scss
.sidenav-container {
  height: calc(100vh - 64px); // Resta la altura del toolbar
  
  &.overlay-mode {
    .app-sidenav {
      position: absolute;
      z-index: 2;
      box-shadow: 3px 0 6px rgba(0,0,0,0.16);
    }

    
    .main-content {
      margin-left: 60px !important; // Mantiene el margen para el ícono
    }
  }
}

.app-sidenav {
  transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  user-select: none;  
.mat-list-item {
    // Fuerza la estructura flex correcta
    .mat-list-item-content {
      display: flex !important;
      align-items: center !important;
      width: 100%;
    }

    mat-icon[mat-list-icon] {
      margin-right: 16px;
      flex-shrink: 0; // Evita que el icono se reduzca
    }

    .menu-text {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.main-content {
  padding: 20px;
  transition: margin-left 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.spacer {
  flex: 1 1 auto;
}

