<!-- private.component.html -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleByClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="site-title">
    <img src="assets/images/ccp-logo.svg" [alt]="translations['logo_alt']" class="logo-image">
  </h1>
  
  <span class="spacer"></span>
  <button mat-icon-button [matTooltip]="translations['tooltip_user']" class="user-button">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button [matTooltip]="translations['tooltip_logout']" (click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [class.overlay-mode]="isHoverExpanded && !isClickExpanded">
  <mat-sidenav #sidenav class="app-sidenav" mode="side" opened="true"
               (mouseenter)="expandByHover()" (mouseleave)="collapseByHover()"
               [style.width.px]="getSidenavWidth()">
    <mat-nav-list>

      <a mat-list-item routerLink="home" routerLinkActive="active-link">
        <div class="menu-item-container">
          <mat-icon mat-list-icon>home</mat-icon>
          <span class="menu-text" *ngIf="isClickExpanded || isHoverExpanded">{{ translations['navicon_home'] }}</span>
        </div>
      </a>


      <a mat-list-item routerLink="sellers" routerLinkActive="active-link" *ngIf="canRenderRole(['ADMINISTRADOR','DIRECTOR_VENTAS'])">
        <div class="menu-item-container">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span class="menu-text" *ngIf="isClickExpanded || isHoverExpanded">{{ translations['navicon_sellers'] }}</span>
        </div>
      </a>

      <a mat-list-item routerLink="sales" routerLinkActive="active-link" *ngIf="canRenderRole(['ADMINISTRADOR','DIRECTOR_VENTAS'])">
        <div class="menu-item-container">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <span class="menu-text" *ngIf="isClickExpanded || isHoverExpanded">{{ translations['navicon_sales'] }}</span>
        </div>
      </a>

      <a mat-list-item routerLink="fabricantes" routerLinkActive="active-link" *ngIf="canRenderRole(['ADMINISTRADOR','ENCARGADO_COMPRAS_PROVEEDORES'])">
        <div class="menu-item-container">
          <mat-icon mat-list-icon>business</mat-icon>
          <span class="menu-text" *ngIf="isClickExpanded || isHoverExpanded">{{ translations['navicon_manufacturer'] }}</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content" [style.margin-left.px]="isClickExpanded ? expandedWidth : collapsedWidth">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
