<!-- private.component.html -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleByClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>CCP App</span>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="Ver usuario">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Salir"(click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [class.overlay-mode]="isHoverExpanded && !isClickExpanded">
  <mat-sidenav #sidenav class="app-sidenav" mode="side" opened="true"
               (mouseenter)="expandByHover()" (mouseleave)="collapseByHover()"
               [style.width.px]="getSidenavWidth()">
    <mat-nav-list>
      
        <a mat-list-item routerLink="home">
          <mat-icon mat-list-icon>home</mat-icon>
          <span class="menu-text" *ngIf="isClickExpanded || isHoverExpanded">Inicio</span>
        </a>
      
      
      <a mat-list-item routerLink="sellers">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span class="menu-text" *ngIf="isClickExpanded || isHoverExpanded">Vendedores</span>
      </a>      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content" [style.margin-left.px]="isClickExpanded ? expandedWidth : collapsedWidth">
    <div class="content-wrapper">
      <router-outlet></router-outlet>      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>